

.imageShow{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   align-items: center;
   flex-wrap: wrap;
    margin-top: 50px;
   max-width: 350px;
    padding: 10px 15px;
   gap: 10px;
   border-radius: 0.5rem;
    
   

}


.image-title{
    font-size: larger;
    letter-spacing: 0.1rem;
    word-wrap: break-word;
    text-align: center;
    max-width: 300px;
    text-decoration: none;
   
   
    
}


img
{
 height:300px;
 width: 300px;
 border-radius: 0.7rem;

}
.link{
    text-decoration: none;
    color: #000;

}
.link:hover{
    color: #fff;
}
.imageShow:hover{
    background-color: rgba(121, 8, 233, 0.633);
  
}



