.image-details-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2a74;
    padding: 20px;
    margin-top: auto;
    width: fit-content;
    border-radius: 0.5rem;
    margin-top: 40px;

}
.title-description-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word;
    margin-left: 30px;
    
}
.image_title{
    font-size: xx-large;
    color: #fff;

}
.image-description{
    font-size: larger;
    color: rgb(195, 199, 203);

}
